<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Acid Reflux </title>
</head>
<body>

</body>
</html>

{% extends 'symptoms/base.html' %}
{% load staticfiles %}
{% block title %}  Acid Reflux  {% endblock %}

{% block body %}
    <h1> Acid Reflux </h1> </br></br>
    <p style="margin-left: 150px">
    Acid reflux (GERD) is a condition in which acid backs up from the stomach into the oesophagus and even up to the throat, irritating the tissue. </br></br>

    Occasional heartburn isn’t dangerous, but chronic heartburn or gastro-oesophageal reflux disease (GORD) can sometimes lead to serious problems. </br></br>

    <h2> Treatment </h2>
    <p style="margin-left: 150px">
    Over-the-counter antacids are commonly used to neutralize stomach acid. </br></br>

    <img class="displayed" src="treatment/static/treatment/images/medbottle.png" alt="My image5"/>

    </br></br></br>
    <p style="margin-left: 150px">
    *You should take medication exactly as directed by your doctor, or according to the package label.

    <h2> Symptoms </h2>
    </br>
    <ul>
        <li> Heartburn: a burning pain or discomfort that may move from your stomach to your abdomen or chest, or even up into your throat </li>
        <li> Regurgitation: a sour or bitter-tasting acid backing up into your throat or mouth  </li>
        <li> Indigestion </li>
        <li> Nausea  </li>
        <li> Loss of Appetite  </li>
    </ul> </br>

    <h2> Causes </h2> </br>
    <p style="margin-left: 150px">
        The basic cause is that the lower oesophagus valve doesn’t tighten as it should. Two excesses often contribute to this problem: </br></br>

    <ul>
        <p style="margin-left: 150px">
        <li> too much food in the stomach (overeating) or </li>
        <li> too much pressure on the stomach (frequently from obesity, pregnancy, or constipation).  </li>
    </ul> </br>
    <p style="margin-left: 150px">
    Certain foods commonly relax the valve including tomatoes, citrus fruits, garlic, onions, chocolate, coffee, alcohol, caffeinated products, and peppermint.

    Meals high in fats and oils (animal or vegetable) often lead to heartburn, as do certain medications. Stress and lack of sleep can increase acid production and can cause heartburn. And smoking, which relaxes the valve and stimulates stomach acid, is a major contributor.

    </br></br></br></br></br></br>

{% endblock %}

