<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Illnesses</title>
</head>
<body>

</body>
</html>

{% extends 'symptoms/base.html' %}
{% block title %}  Illnesses  {% endblock %}

{% block body %}
    <h1> List of Illnesses</h1> </br></br>
    <ul>
        <li> <a href="treatment/acidreflux.html"> Acid Reflux </a>  </li>
        <li> <a href="Cold"> Cold </a>  </li>
        <li> <a href="Conjunctivitis"> Conjunctivitis </a>  </li>
        <li> <a href="Stomach Flu"> Stomach Flu </a>  </li>
        <li> <a href="Headache"> Headache </a>  </li>
        <li> <a href="treatment/influenza.html"> Influenza </a>  </li>
        <li> <a href="Joint Pain"> Joint Pain </a>  </li>
        <li> <a href="Migraines"> Migraines </a>  </li>
        <li> <a href="Muscle Pain"> Muscle Pain </a>  </li>
        <li> <a href="Rhinitis"> Rhinitis </a>  </li>
        <li> <a href="Sinusitis"> Sinusitis </a>  </li>
    </ul>
{% endblock %}
